url: 'https://son-link.github.io/bestodon'
baseurl: ''
title: 'Open Source projects on Mastodon'

plugins:
  - jekyll-postcss
postcss:
  cache: false

exclude:
  - package.json
  - postcss.config.js
  - tailwind.config.js
  - yarn.lock
  - _lists
  - makedata.js
