---
layout: default
title: "All"
---

<div class="py-2 max-w-5xl mx-auto md:py-4">
  <div class="grid grid-cols-1 gap-2 w-full pl-14 pr-2 md:mx-auto md:grid-cols-2 md:p-0" id="list">
    {% assign data = site.data.all | sort_natural: "display_name" %}
    {% for acc_hash in data limit: 10 %}
    {{ acc_hash[1] }}
      {% assign ac = acc_hash %}
      {% include account.html ac=acc_hash %}
    {% endfor %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    getData('all');
  });
</script>