<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/roboto.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{ "/assets/js/pequejs.min.js" | absolute_url }}"></script>
    <script src="{{ "/assets/js/ejs.min.js" | absolute_url }}"></script>
  </head>
  <body class="bg-neutral-900">
    <header class="m-2 p-2 max-w-5xl mx-auto bg-gray-700 text-white rounded">
      <nav class="flex flex-wrap gap-2">
        <a class="hover:text-neutral-900" href="{{ "/" | absolute_url }}">All</a>
        <a class="hover:text-neutral-900" href="{{ "/apps" | absolute_url }}">Applications</a>
        <a class="hover:text-neutral-900" href="{{ "/communities" | absolute_url }}">Communities</a>
        <a class="hover:text-neutral-900" href="{{ "/games" | absolute_url }}">Games</a>
        <a class="hover:text-neutral-900" href="{{ "/distros" | absolute_url }}">Linux distributions</a>
      </nav>
    </header>

    <header class="m-2 p-2 max-w-5xl mx-auto bg-gray-700 text-white text-center rounded">
      <div class="text-4xl font-bold">Bestodon</div>
      <p>
        Welcome to this list of Mastodon accounts.
      </p>
      <p>
        Here you can find accounts dedicated to Free and Open Source Software, such as games, applications, Linux distributions, etc. 
      </p>
    </header>